<!DOCTYPE html>
<html>
    <head>
        <title>Site - Página Inicial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <h1>Olá <span th:text="${nome}"></span>!</h1>
        <p>Seja muito bem-vindo(a) ao site !</p>
        <h1> Inicie o processo de cadastramento de usuário!<a href="/cadastro-usuario"> Clique Aqui</a></h1>
        <h1> Já Possui Conta Clique aqui!<a href="/logarUser"> Clique Aqui</a></h1>

    </body>
</html>
