<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>Login</title>
            <header th:insert="~{navbar.html :: nav}"></header>

                </head>

                <body>

                    <form th:action="@{/logarUser}" th:object="${usuario}" method="post">
                        <div>

                            <p>Nome:  <input type="text" th:field="*{nome}"/></p>
                            <p>Senha: <input type="text" th:field="*{senha}"/></p>

                        </div>
                        <button type="submit">Logar</button>
                    </form>


                </body>



                </html>